.wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: gray;
    margin: 50px auto;
  }
  
  .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .center {
    top: 45px; 
    left: 45px;
    background-color: white;
  }
  
  .small {
    top: 45px;
    left: 45px;
    background-color: white;
    transform: rotate(0deg) translate(50px); 
  }
  
  .small:nth-child(2) { transform: rotate(0deg) translate(50px); }
  .small:nth-child(3) { transform: rotate(45deg) translate(50px); }
  .small:nth-child(4) { transform: rotate(90deg) translate(50px); }
  .small:nth-child(5) { transform: rotate(135deg) translate(50px); }
  .small:nth-child(6) { transform: rotate(180deg) translate(50px); }
  .small:nth-child(7) { transform: rotate(225deg) translate(50px); }
  .small:nth-child(8) { transform: rotate(270deg) translate(50px); }
  .small:nth-child(9) { transform: rotate(315deg) translate(50px); }
  
  .wrapper-second {
    position: relative;
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px auto;
    
  }
  
 
.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
  }
  
 
  .center {
    top: 45px;
    left: 45px;
  }
  

  .small1 {
    top: -5px;       
    left: 45px;
  }
  
  .small2 {
    top: 7px;
    left: 85px;
  }
  
  .small3 {
    top: 45px;       
    left: 95px;
  }
  
  .small4 {
    top: 78px;        
    left: 78px;
  }
  
  .small5 {
    top: 95px;       
    left: 45px;
  }
  
  .small6 {
    top: 78px;       
    left: 12px;
  }
  
  .small7 {
    top: 45px;        
    left: -5px;
  }
  
  .small8 {
    top: 5px;         
    left: 7px;
  }